.Rproj.user
.Rhistory
.RData
.Ruserdata
Clase1_Intro_ds.log
Clase2_proyectos_ds.log
Clase3_organizaciones_ddriven.log
Clase4_normativa_ds.log
c1i1.png
c1i2.png
c1i3.png
c1i4.png
c1i5.png
c1i6.png
c2i1.png
c3i1.png
c3i2.png
c3i3.png
c3i4.png
c3i5.png
c3i6.png
c3i7.png
c3i8.png
c3i9.png
c3i10.png
c3i11.png
c3i12.png